.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.app__body {
  display: grid;
  height: 90vh;
  width: 90vw;
  box-shadow: 0px 3px 62px -3px rgba(168, 168, 168, 0.75);
  text-align: center;
}

.app__body > img {
  width: 40vw;
  height: auto;
  display: block;
  margin: auto;
}

.app__downloadNote {
  color: gray;
  font-size: small;
}

.app__download {
  margin-left: auto;
  margin-right: auto;
}

.app__download > input {
  border-radius: 30px;
  margin-right: 10px;
  border: 1px solid lightgray;
  padding: 15px 30px;
  transition: 500ms ease;
  width: 35vw;
}

.app__download > input:focus {
  border: 1px solid black;
}

.app__download > button {
  color: #c5ebb3;
  background-color: #15b422;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.app__download > button:hover {
  color: #15b422;
  background-color: black;
  transition: 500ms ease;
}

.app__download > p {
  margin-top: 20px;
}